---
import BookCard from "../components/BookCard.astro";
import type BookType from "../interfaces/Book";
const books = await fetch(`http://127.0.0.1:1337/api/books`).then((res) =>
  res.json()
);
---

<main>
  <div class="p-4 flex flex-col gap-2 items-center">
    <h1 class="text-red-500 text-4xl font-semibold">Best start ever :)</h1>
    {
      books.data.length === 0 ? (
        <h2 class="text-gray-700 text-2xl font-semibold">
          Sorry, there is no information now
        </h2>
      ) : (
        <div class="flex flex-col justify-center items-center gap-4 w-full">
          <h2 class="text-gray-700 text-2xl font-semibold text-center">
            {`${books.data.length === 1 ? `Book` : `Books`} from strapi`}
          </h2>
          <div class="flex flex-wrap justify-center gap-4 w-full">
            {books.data.map((book: BookType) => (
             <BookCard book={book} />
            ))}
          </div>
        </div>
      )
    }
  </div>
</main>
